<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <!--HEADER--> <%- include('../partials/header') %> 
    <main>
    <section class="productos">
        <% for(let i= 0; i < productos.length; i++){ %> 
            <article class="articulo">
                <section class="content">
                    <figure class="imagenProducto" >
                        <img  src='/img/products/<%= productos[i].imageName%>'>
                    </figure>
                    <section class="detalle">
                        <h4 class="card-title">Name: <%= productos[i].Name.name%></h4>
                        <h4 class="card-title" >Price($): <%= productos[i].price%> </h4>
                        <h5 class="card-title" >Style: <%= productos[i].Style.style%> </h5>
                        <h5 class="card-title" >Brand: <%= productos[i].Brand.brand%> </h5>
                        <h5 class="card-title" >Size: <%= productos[i].Size.size%> </h5>      
                        <h5 class="card-title" >Colour: <%= productos[i].Colour.colour%> </h5>  
                        <p class="card-text descripcion">Comments: <%= productos[i].comments%> </p>
                    </section>
                </section>
                <section class="botones">
                     <button><a href= "/" >Comprar</a></button>
                 </section>
            </article>
        <% } %>
    </section>
    </main>
   <!-- FOOTER --> <%- include('../partials/footer') %> 
</body>
</html>
