<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    
     <!--HEADER--> <%- include('../partials/header') %> 
    <main>
    <form  class="formulario" method="POST" action="/admin/create" enctype="multipart/form-data"> 
        <div class = "titulo">Creacion de productos</div>
        <label for='name'>¿Qué name estas creando?</label>
        <select name="name" id="form-style">
            <% for(let i= 0; i < names.length; i++){ %>
             <option id="name" value=<%=names[i].id%>><%=names[i].name%></option>
             <% } %>
         </select>
         <br>
         <label for='style'>¿Qué style estas creando?</label>
         <select name="style" id="form-style">
            <% for(let i= 0; i < styles.length; i++){ %>
             <option id="style" value=<%=styles[i].id%>><%=styles[i].style%></option>
            <%}%>
         </select>
         <br>
         <label for='size'>¿Qué size estas creando?</label> 
        <select name="size"id="form-size">  
             <% for(let i= 0; i < sizes.length; i++){ %>           
             <option id="size" value=<%=sizes[i].id%>><%=sizes[i].size%></option>  
             <%}%>
         </select> 
         <br>
         <label for='brand'>¿Qué brand estas creando?</label>
         <select name="brand" id="form-brand">
             <% for(let i= 0; i < brands.length; i++){ %>           
             <option id="brand" value= <%=brands[i].id%> ><%=brands[i].brand%></option>               
             <%}%>
         </select>  
         <br>
         <label for='colour'>¿Qué colour estas creando?</label>
         <select name="colour" id="form-colour">
            <% for(let i= 0; i < colours.length; i++){ %>   
             <option id="colour" value= <%=colours[i].id%>> <%=colours[i].colour%></option>
            <%}%>
         </select>
         <div>
             <div class ="precio">
             <label for="price">Precio del producto</label></div>
             <div><input type="number" name = "price"> </div>
         </div>
         <div class="imagen">
             <label for="imagen"> Imagen del producto</label> 
               <div><input style= "background-color: white" type="file" name="imagen" /></div>
          </div>
        <div class="descripcion">
            <label for="comments"> Descripción del producto</label>
            <nav><textarea name="comments" rows="10" cols="40" placeholder="Escribe aqui la descripcion del producto"></textarea></nav>
        </div>
            <button type="submit" id='form-button-enviar'>Publicar</button>
    </form>
    </main>
    <!-- FOOTER --> <%- include('../partials/footer') %> 
</body>
</html>